@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

/* PAGINATIN / TOP BUTTONS */

.pagination.pagination-sm>li>a {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  border: 0!important;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  display: inline-block;
  position: relative;
  min-width: 120px;
  width: auto;
  height: 30px;
  padding: 0.4em;
  margin-left: 0.4em;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  transition: ease all .3s;
}
.pagination>li:first-child>a {
  color: #fff;
  background-color: #00b43c;
}
.pagination>li:first-child>a:hover,
.pagination>li:first-child>a:focus,
.pagination>li:first-child>a:active {
  color: #fff;
  background-color: #008d39;
}
.pagination>li:last-child>a {
  color: #fff;
  background-color: #aaa;
}
.pagination>li:last-child>a:hover,
.pagination>li:last-child>a:focus,
.pagination>li:last-child>a:active {
  color: #fff;
  background-color: #777;
}

/* LAYOUT BUILDER */

#layout-builder {
  font-family: 'Roboto Condensed', sans-serif;
}
#layout-builder .layout-section .contextual-region.focus {
  outline: 1px dashed rgba(36,82,105, 0.25);
}
#layout-builder .layout-section .layout-builder--layout__region {
  padding: 1.6em;
}
#layout-builder .add-section,
#layout-builder .layout-section .layout-builder--layout__region {
  outline: 1px dashed rgba(0, 0, 0, 0.15);;
  background-color: transparent;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  transition: ease all .3s;
}
#layout-builder .add-section:hover,
#layout-builder .layout-section .layout-builder--layout__region:hover {
  outline: 1px dashed #4285f4;
}
@media screen and (min-width: 40em) {
  #layout-builder .layout--twocol-bricks > .layout__region--first-above,
  #layout-builder .layout--twocol-bricks > .layout__region--second-above,
  #layout-builder .layout--twocol-bricks > .layout__region--first-below,
  #layout-builder .layout--twocol-bricks > .layout__region--second-below {
    flex: 0 1 calc(50% - 10px);
  }
}
#layout-builder .add-section a,
#layout-builder .layout-section .layout-builder--layout__region .add-block a {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #4285f4;
  border: 0;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  display: inline-block;
  position: relative;
  min-width: 120px;
  width: auto;
  height: 30px;
  padding: 0.4em;
  padding-left: 2em;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  transition: ease all .3s;
}
#layout-builder .add-section a:before,
#layout-builder .layout-section .layout-builder--layout__region .add-block a:before {
  content: '';
  position: absolute;
  left: 12px;
  top: 6px;
  height: 16px;
  width: 16px;
  background-size: 15px;
  background-position: center;
  background-image: url("../icons/plus.svg");
}
#layout-builder .add-section a:hover,
#layout-builder .add-section a:focus,
#layout-builder .add-section a:active,
#layout-builder .layout-section .layout-builder--layout__region .add-block a:hover,
#layout-builder .layout-section .layout-builder--layout__region .add-block a:focus,
#layout-builder .layout-section .layout-builder--layout__region .add-block a:active {
  background-color: #376bc2;
}
#layout-builder .add-section a:hover,
#layout-builder .add-section a:focus,
#layout-builder .add-section a:active,
#layout-builder .layout-section .layout-builder--layout__region .add-block a:hover,
#layout-builder .layout-section .layout-builder--layout__region .add-block a:focus,
#layout-builder .layout-section .layout-builder--layout__region .add-block a:active {
  text-decoration: none;
}

/* UI DIALOG */

.ui-dialog.ui-widget-content {
  font-family: 'Roboto Condensed', sans-serif;
}
.ui-dialog.ui-dialog-off-canvas {
  background-color: #fafafa;
}
.ui-dialog.ui-dialog-off-canvas .ui-dialog-titlebar {
  background-color: #4285f4;
  border-bottom: none;
}
.ui-dialog.ui-dialog-off-canvas .ui-dialog-title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
}
.ui-dialog-off-canvas #drupal-off-canvas {
  padding: 20px;
}
#drupal-off-canvas .layout-selection li {
  display: inline-block!important;
  vertical-align: top;
  width: 50%;
}
#drupal-off-canvas .layout-selection li a {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  padding-top: 20px!important;
  outline: none;
  transition: ease all .3s;

}
#drupal-off-canvas *,
#drupal-off-canvas *:not(div) {
  font-family: 'Roboto Condensed', sans-serif;
  color: #777;
  background-color: transparent;
  transition: ease all .3s;
}
#drupal-off-canvas .panel {
  padding: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
#drupal-off-canvas .panel .panel-heading a {
  outline: none;
  position: relative;
}
#drupal-off-canvas .panel .panel-heading a:after {
  content: '';
  position: absolute;
  top: 5px;
  right: 0;
  height: 12px;
  width: 12px;
  background-size: 12px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../icons/chevron-up.svg");
  transition: ease all 0.3s;
}
#drupal-off-canvas .panel .panel-heading a.collapsed:after {
  transform: rotate(-180deg);
}
#drupal-off-canvas .panel .panel-heading a:hover,
#drupal-off-canvas .panel .panel-heading a:focus,
#drupal-off-canvas .panel .panel-heading a:active {
  text-decoration: none;
}
#drupal-off-canvas .panel ul > li > a {
  font-size: 14px;
  margin-bottom: 1em;
}
#drupal-off-canvas .layout-icon .layout-icon__region {
  fill: #eee;
  stroke: #ccc;
  transition: ease all .3s;
}
#drupal-off-canvas .layout-selection li a:hover,
#drupal-off-canvas .layout-selection li a:focus,
#drupal-off-canvas .layout-selection li a:active {
  text-decoration: none;
  border-bottom: none;
}
#drupal-off-canvas .layout-selection li a:hover .form-group,
#drupal-off-canvas .layout-selection li a:focus .form-group,
#drupal-off-canvas .layout-selection li a:active .form-group {
  color: #777;
}
#drupal-off-canvas .layout-selection li a:hover .layout-icon__region,
#drupal-off-canvas .layout-selection li a:focus .layout-icon__region,
#drupal-off-canvas .layout-selection li a:active .layout-icon__region {
  fill: #aaa;
  stroke: #777;
}
#drupal-off-canvas label {
  display: block;
}

/* FORM */

#drupal-off-canvas button,
#drupal-off-canvas .button {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #00b43c;
  border: 0!important;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  display: inline-block;
  position: relative;
  min-width: 120px;
  width: auto;
  height: 30px;
  padding: 0.4em;
  margin-left: 0.4em;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  transition: ease all .3s;
}
#drupal-off-canvas .button.dialog-cancel {
  color: #fff;
  background-color: #aaa;
}
#drupal-off-canvas .button.btn-danger {
  color: #fff;
  background-color: #d03939;
}
#drupal-off-canvas button:hover,
#drupal-off-canvas button:focus,
#drupal-off-canvas button:active,
#drupal-off-canvas .button:hover,
#drupal-off-canvas .button:focus,
#drupal-off-canvas .button:active {
  color: #fff;
  background-color: #008d39;
}
#drupal-off-canvas .button.dialog-cancel:hover,
#drupal-off-canvas .button.dialog-cancel:focus,
#drupal-off-canvas .button.dialog-cancel:active {
  color: #fff;
  background-color: #777;
  text-decoration: none;
}
#drupal-off-canvas .button.btn-danger:hover,
#drupal-off-canvas .button.btn-danger:focus,
#drupal-off-canvas .button.btn-danger:active {
  color: #fff;
  background-color: #a43232;
}
#drupal-off-canvas .form-text,
#drupal-off-canvas .form-tel,
#drupal-off-canvas .form-email,
#drupal-off-canvas .form-url,
#drupal-off-canvas .form-search,
#drupal-off-canvas .form-number,
#drupal-off-canvas .form-color,
#drupal-off-canvas .form-file,
#drupal-off-canvas .form-textarea,
#drupal-off-canvas .form-date,
#drupal-off-canvas .form-time,
#drupal-off-canvas * textarea,
#drupal-off-canvas * select,
#drupal-off-canvas *:not(div) textarea,
#drupal-off-canvas *:not(div) select{
  color: #777;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: none;
}
#drupal-off-canvas .select-wrapper:after,
#drupal-off-canvas .icon.glyphicon{
  display: none;
}
